:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

.nav_bar_container{
width: 100%;
height: 10vh;
background-color:var(--cor-6) ;
display: flex;
justify-content: space-evenly;
align-items: center;
}




.input_pesquisa{

width:400px ;
height: 40px;
border-radius: 20px;
border:none;
font-size: 20px;
background-color: #ffffff;
outline: 0
}.button_farmarcia{

    width:300px;
    height:40px;
background-color: var(--cor-5);
color: black;
border: var(--cor-4);
border-radius: 15px;
font-size: 20px;

}

.button_farmarcia:hover{

background-color: var(--cor-4);
color: var(--cor-2);
transform: scaleX(1.1);
transition: 600ms;
}
.input_pesquisa:hover{
outline: 0;



}